{% extends "base.html" %}
{% block title %}Trading Autopilot{% endblock %}

{% block head_extra %}
<script src="https://unpkg.com/lightweight-charts@4/dist/lightweight-charts.standalone.production.js"></script>
<link rel="stylesheet" href="/static/css/autopilot.css" />
{% endblock %}

{% block content %}
<div class="ap-wrap">
  {% include "trading/_autopilot_header.html" %}

  <div class="ap-shell">
    {% include "trading/_autopilot_summary.html" %}

    <section class="ap-section" id="ap-eligible-section">
      {% include "trading/_autopilot_filters.html" %}
      {% include "trading/_autopilot_opportunities.html" %}
    </section>

    {% include "trading/_autopilot_sessions.html" %}
  </div>
</div>

{% include "trading/_autopilot_modal.html" %}

<script>
  window.CHILI_AP_CONFIG = {
    IS_GUEST: {{ is_guest | tojson }},
    LEGACY_ALIAS: {{ automation_legacy_alias | default(false) | tojson }}
  };
</script>
<script src="/static/js/autopilot.js?v=2"></script>
<script src="/static/js/autopilot-sessions.js?v=2"></script>
{% endblock %}
