    <!-- Ticker detail + news (two-column strip under toolbar) -->
    <div id="ticker-detail-section" class="ticker-detail-section" style="display:flex">
      <div id="ticker-detail-bar" class="ticker-detail-info">
        <div class="td-row">
          <span class="td-skeleton"><span class="td-bone" style="width:70px"></span><span class="td-bone" style="width:50px"></span><span class="td-bone" style="width:100px"></span></span>
        </div>
      </div>
      <div id="ticker-news-cards" class="ticker-news-row"></div>
    </div>

